option_settings:
  ScheduledPeriodicScaleUp.aws:autoscaling:scheduledaction:
    MinSize: '2'
    MaxSize: '2'
    DesiredCapacity: '2'
    StartTime: '2022-02-06T16:10:00Z'
    EndTime: '2022-02-07T16:10:00Z'
    Recurrence: 37 17 * * *
  ScheduledPeriodicScaleDown.aws:autoscaling:scheduledaction:
    MinSize: '1'
    MaxSize: '1'
    DesiredCapacity: '1'
    StartTime: '2022-02-06T16:15:00Z'
    EndTime: '2022-02-07T16:10:00Z'
    Recurrence: 40 17 * * *